# 目前自动兼容加或者不不加 `translate` 的两种情况，字符串存在检测，目测性能消耗不大
endpoints:
  - url: https://example.com
    weight: 1
    timeout: 10  # 单位秒
  - url: https://example.com/translate
    weight: 2
    timeout: 5
  - url: https://example.com/{token}/translate
  - url: https://example.com/translate?token=666666

default:
  timeout: 5

general:
  max_retries: 2  # 暂时没有考虑让重试数可单独配

server:
  port: 8080